body {
  background: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
}

/* common class for row */
.row {
  display: flex;
  flex-direction: row;
}

/* common class for column */
.column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1160px;
  padding: 20px 100px 20px 100px;
}

.header {
  max-width: 1200px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar__btn {
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 20px;
  background: #f6f6f6;
  color: #3939f7;
}

.body {
  max-width: 1200px;
  margin-top: 20px;
  justify-content: space-between;
  gap: 20px;
}

.body__left {
  max-width: 900px;
  gap: 20px;
}

.body__right {
  width: 485px;
  gap: 20px;
}

.billing {
  padding: 20px;
  background: white;
  border-radius: 5px;
}

/* common class for fontWeight */
.fontWeight {
  font-weight: 700;
}

/* common class for shadow */
.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.billing__name {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.billing__firstName {
  width: 50%;
  position: relative;
}

.billing--email {
  width: 95%;
}

.input {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  color: rgb(83, 82, 82);
  width: 90%;
}

.input--email {
  width: 100%;
}

.input--select {
  width: 95%;
  background: white;
}

.label {
  position: absolute;
  top: -10px;
  left: 5px;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
  font-size: 0.8rem;
}

.checkbox {
  margin-top: 20px;
  max-width: 400px;
}

.checkbox span {
  margin-left: 1%;
}

.radio {
  width: 95%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(30, 30, 252, 0.884);
  background-color: #dce8ff;
}

.credit {
  width: 95%;
  border: 1px solid rgba(30, 30, 252, 0.884);
  background-color: #dce8ff;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  padding-bottom: 30px;
}

.radio--credit {
  border: none;
  margin-top: 0px;
  padding: 0;
}

.radio--white {
  border: 1px solid gray;
  background: white;
}

.radio--gap {
  gap: 10px;
}

.light__bg {
  background: #dce8ff;
}

.lock__icon {
  max-width: 580px;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.fontSize {
  font-size: 0.9rem;
}

.collapse__arrow {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.summary {
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.text--input {
  width: 98%;
}

.order--inp {
  max-width: 425px;
  justify-content: flex-start;
}

.button--filled {
  margin-top: 20px;
  border-radius: 5px;
  background: rgb(65 136 243);
  font-size: 1rem;
  color: white;
  padding: 15px;
}

@media (max-width:1115px) {
  .body {
    display: flex;
    flex-direction: column !important;
  }

  .body__right {
    width: 100% !important;
  }
}

@media (max-width:700px) {
  .input {
    width: 80% !important;
  }

  .input--email {
    width: 95% !important;
  }

  .radio label {
    font-size: 0.9rem !important;
  }

  .container {
    padding: 20px 20px 20px 20px;
  }
}

@media (max-width:470px) {
  .label {
    font-size: 0.6rem;
  }

  .input {
    width: 70% !important
  }

  .input--email {
    width: 90% !important;
  }

  .summary label {
    font-size: 0.8rem !important;
  }

  .navbar__btn span {
    display: none;
  }
}

.collapsible {
  cursor: pointer;
}

.hide {
  display: none;
}

.block {
  display: block;
}